name: macos_ui
description: Flutter widgets and themes implementing the current macOS design language.
version: 1.2.1+1
homepage: "https://github.com/GroovinChip/macos_ui"

environment:
  sdk: ">=2.15.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  dart_code_metrics: ^4.14.0
  flutter_lints: ^1.0.4
  mocktail: ^0.3.0

flutter:
  plugin:
    platforms:
      macos:
        package: dev.groovinchip.macos_ui
        pluginClass: MacOSUiPlugin