name: Gh-Pages
on:
  push:
    branches: [ dev, master ]
  pull_request:
    branches: [dev, master]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
      - uses: erickzanardo/flutter-gh-pages@v3
        with:
          workingDir: example